
    .deneme{
    font-size: large;
    font-style: italic;
    background-color: burlywood;
    }
    .login{
        font-size: large;
        font-style: italic;
        background-color: burlywood;
    }